<configuration scan="true" scanPeriod="30 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<timeZone>Europe/Berlin</timeZone>
				</timestamp>
				<pattern>
					<pattern>
						{
						"service": "hapi-fhir-jpaserver",
						"severity": "%level",
						"trace": "%X{traceId:-}",
						"span": "%X{spanId:-}",
						"pid": "${PID:-}",
						"thread": "%thread",
						"class": "%logger{40}",
						"rest": "%message",
						"exc": "%exception"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>
	<variable name="ROOT_LOG_LEVEL" value="${ROOT_LOG_LEVEL:-INFO}"/>
	<root level="${ROOT_LOG_LEVEL}">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
